.container{
  width: 100vw;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/background.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.total{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logInArea{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logInForm{
  border: none;
  padding: 30px;
  border-radius: 5px;
  width: 400px;
  height: 500px;
  /*box-shadow: 1px 1px 1px 1px rgb(67, 67, 67);*/
  background : none;
}

.pinSubmit{
  background-color: #FFC800;
  font-size: 15px;
  width: 340px;
  height: 40px;
  margin-top: 20px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

.headText{
  display: flex;
  justify-content: center;
  padding: 40px;
  font-size: 20px;
  color: white;
  text-align: center;
}

.pinInput{
  display: flex;
  justify-content: center;
  align-items: center;

}

.Submit{
  width: 50px;
  height: 35px;
  border-radius: 5px;
  background-color: #FFC800;
  color: white;
}

.timer{
  color: white;
}